/* You can add global styles to this file, and also import other style files */
.container {
    max-width: 500px;
    margin: 30px auto;
    overflow: auto;
    min-height: 300px;
    border: 0;
    padding: 30px;
    border-radius: 5px;
    text-align: right;
    background-color: white;
  }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; 
background-color: rgb(188, 209, 224); border:1px black ;}
